@import '../../../vars.scss';

article {
    .filters {
        padding: 0 8px;
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        app-product-card {
            width: calc(25% - 16px);
            margin: 8px;
        }
    }
}

@media only screen and (max-width: 950px) {
    article {
        .content {
            app-product-card {
                width: calc(33% - 16px);
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    article {
        .content {
            app-product-card {
                width: calc(50% - 16px);
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    article {
        .content {
            app-product-card {
                width: calc(100% - 16px);
            }
        }
    }
}