<article>
  <app-title-section [title]="'Productos'"></app-title-section>
  <div class="products-container">
    <div class="filters">
      <mat-form-field floatLabel="always">
        <mat-label>Buscar por categoria</mat-label>
        <mat-select [formControl]="categoryControl">
          <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="products" class="content">
      <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
    </div>
  </div>
</article>