<mat-card>
  <mat-checkbox color="primary"
                [checked]="inOrder"
                [matTooltip]="inOrder ? 'Quitar del pedido' : 'Agregar al pedido'"
                (change)="onChangeCheckbox($event)">
  </mat-checkbox>
  <div class="img-container">
    <img [src]="product.imagen">
  </div>
  <h4>{{ product.nombre }}</h4>
  <div class="price">
    <span>${{ product.costo }}/{{ product.unidad }}</span>
  </div>
</mat-card>