@import '../../../../vars.scss';

mat-card {
    width: calc(100% - 24px);
    height: calc(100% - 40px);
    padding: 8px 12px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $font-black;
    position: relative;
    mat-checkbox {
        position: absolute;
        right: 12px;
        top: 8px;
    }
    .img-container {
        width: 75%;
        height: 130px;
        margin-bottom: 16px;
        img {
            max-width: 100%;
            width: auto;
            height: 100%;
            margin: auto;
            display: block;
        }
    }
    .price {
        position: absolute;
        bottom: 4px;
        font-size: 15px;
    }
}