@import '../../../vars.scss';

mat-toolbar {
    border-bottom: 3px solid $main-color;
    height: $h-header;
    .limit-header {
        width: 100%;
        max-width: 1400px;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .image-container {
            height: 70%;
            img {
                height: 100%;
                width: auto;
            }
        }
        nav {
            display: flex;
            align-items: center;
            a {
                cursor: pointer;
                padding: 0 8px;
                color: $font-white;
                font-size: 16px;
            }
            span, i {
                color: $font-white;
                font-size: 16px;
            }
            span {
                margin-left: 4px;
                margin-right: 8px;
            }
            a:hover, .fa-sign-out-alt:hover {
                opacity: 0.8;
            }
        }
        .resp-menu {
            display: none;
        }
    }
}

@media only screen and (max-width: 500px) {
    mat-toolbar {
        .limit-header {
            .image-container {
                height: 50%;
            }
            nav {
                display: none;
            }
            .resp-menu {
                display: inherit;
            }
        }
    }
}