<mat-toolbar color="accent">
  <div class="limit-header">
    <a (click)="closeOrder()" [routerLink]="['/']" class="image-container">
      <img src="./assets/logo2.png">
    </a>
    <nav>
      <a (click)="closeOrder()" [routerLink]="['/']">INICIO</a>
      <a (click)="openOrder()">MI PEDIDO</a>
      <a *ngIf="!userLogged" (click)="openModalUsers(); closeOrder()">INGRESAR</a>
      <a *ngIf="userLogged" (click)="logoutXD()">SALIR</a>
    </nav>
    <div class="resp-menu">
      <i class="fas fa-bars" [matMenuTriggerFor]="menu"></i>
      <mat-menu #menu="matMenu">
        <a (click)="closeOrder()" mat-menu-item [routerLink]="['/']">INICIO</a>
        <a mat-menu-item (click)="openOrder()">MI PEDIDO</a>
        <a *ngIf="!userLogged" (click)="openModalUsers(); closeOrder()">INGRESAR</a>
        <a *ngIf="userLogged" (click)="logoutXD()">SALIR</a>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>