<article>
  <app-title-section [title]="'Pedido'"></app-title-section>
  <div *ngIf="products?.length > 0" class="order-container">
    <div class="products">
      <app-product-card-order *ngFor="let product of products" [product]="product"></app-product-card-order>
      <mat-card class="total">
        <span>COSTO TOTAL</span>
        <span>${{ total }}</span>
      </mat-card>
      <mat-card class="shipping">
        <h4>Datos de envio</h4>
        <mat-radio-group [(ngModel)]="shipping" color="primary">
          <mat-radio-button value="1">Dirección</mat-radio-button>
          <mat-radio-button value="2" (click)="setUbication()" [disabled]="disabledUbication">Ubicación</mat-radio-button>
        </mat-radio-group>
        <div *ngIf="shipping == 1">
          <form class="form" [formGroup]="shippingForm">
            <mat-form-field floatLabel="always">
              <input matInput formControlName="direccion" placeholder="Dirección" maxlength="100" required>
            </mat-form-field>
            <mat-form-field floatLabel="always">
              <textarea matInput formControlName="descripcion" placeholder="Descripción del lugar o aclaraciones" maxlength="1000"></textarea>
            </mat-form-field>
          </form>
        </div>
        <div *ngIf="shipping == 2 && hasNavigator">
          <agm-map [latitude]="mapUbication.lat"
                   [longitude]="mapUbication.lng"
                   [zoom]="2"
                   [streetViewControl]="false"
                   [fullscreenControl]="true"
                   [clickableIcons]="false">
            <agm-marker [latitude]="mapUbication.lat" [longitude]="mapUbication.lng" [title]="'Enviar aqui'"></agm-marker>
          </agm-map>
        </div>
      </mat-card>
    </div>
    <div class="actions">
      <button mat-raised-button color="primary" [disabled]="sendingForm" (click)="submitOrder()">SOLICITAR ENVIO</button>
    </div>
  </div>
  <div *ngIf="products?.length == 0" class="empty-cart">
    <h4>No hay productos en tu pedido</h4>
    <span>Busca en nuestro catalogo y agrega los productos que necesites</span>
  </div>
</article>