@import '../../../vars.scss';

article {
    color: $font-black;
    min-height: calc(100% - 28px);
    padding: 14px 10px;
    .order-container {
        .products {
            .total {
                margin-bottom: 6px;
                display: flex;
                justify-content: space-between;
                font-weight: bold;
            }
            .shipping {
                margin-bottom: 6px;
                mat-radio-group {
                    mat-radio-button {
                        margin-right: 6px;
                        margin-top: 4px;
                        margin-bottom: 8px;
                    }
                }
                form {
                    display: flex;
                    flex-direction: column;
                    mat-form-field {
                        width: 100%;
                    }
                }
                agm-map {
                    width: 100%;
                    height: 300px;
                }
            }
        }
        .actions {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
    }
    .empty-cart {
        height: calc(100% - 46px - 68px);
        padding-top: 68px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h4 {
            font-size: 22px;
        }
    }
}
