<article>
  <app-title-section [title]="'Categorias de productos'"></app-title-section>
  <div class="categories-container">
    <a *ngFor="let category of categories" [routerLink]="['/categoria', category.id]">
      <mat-card>
        <div class="img-container">
          <img [src]="category.imagen">
        </div>
        <h3>{{ category.nombre }}</h3>
      </mat-card>
    </a>
  </div>
</article>