@import '../../../vars.scss';

article {
    .categories-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        a {
            width: calc(100% / 3 - 16px);
            margin: 8px;
            mat-card {
                width: calc(100% - 24px);
                height: calc(100% - 16px);
                padding: 8px 12px;
                color: $font-black;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                .img-container {
                    width: 75%;
                    height: 130px;
                    margin-bottom: 16px;
                    img {
                        max-width: 100%;
                        width: auto;
                        height: 100%;
                        margin: auto;
                        display: block;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    article {
        .categories-container {
            a {
                width: calc(50% - 16px);
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    article {
        .categories-container {
            a {
                width: calc(100% - 16px);
            }
        }
    }
}