@import '../../../../vars.scss';

.form-user {
    text-align: center;
    h3 {
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 20px;
        color: $main-color;
    }
    form {
        display: flex;
        flex-direction: column;
        button {
            margin: 15px 0;
        }
    }
    .footer a {
        color: $main-color;
        font-weight: 800;
        cursor: pointer;
    }
}

.success {
    text-align: center;
    h4 {
        margin-bottom: 16px;
        font-size: 20px;
    }
}