<div class="form-user">
  <h3>Ingresar</h3>
  <form [formGroup]="loginForm" (submit)="submitForm()">
    <mat-form-field>
      <input matInput type="text" formControlName="user" placeholder="Nombre de usuario" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" formControlName="password" placeholder="Contraseña" required>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="sendingForm">INGRESAR</button>
  </form>
  <span class="footer">¿No tenes una cuenta? <a (click)="changeModal()"> Registrate</a></span>
</div>