<app-header></app-header>

<mat-drawer-container [hasBackdrop]="true">
    <mat-drawer #drawer [mode]="'over'"
                        [opened]="drawerOpened"
                        [position]="'end'"
                        (openedChange)="detectChangeDrawer($event)">
        <app-order></app-order>               
    </mat-drawer>
    <mat-drawer-content>
        <div #scrolleable class="scrolleable" [class.openDrawer]="drawerOpened">
            <div class="router-container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>