@import '../vars.scss';

mat-drawer-container {
    min-height: calc(100vh - #{$h-header});
    background-color: #e0e0e0;
    mat-drawer {
        width: 650px;
        max-height: calc(100vh - #{$h-header});
        background-color: #e0e0e0;
    }
    mat-drawer-content {
        min-height: calc(100vh - #{$h-header});
        .scrolleable {
            height: calc(100vh - #{$h-header});
            overflow-y: auto;
            &.openDrawer {
                overflow-y: hidden;
            }
            .router-container {
                width: calc(100% - 20px);
                min-height: calc(100% - 24px);
                max-width: 1400px;
                padding: 14px 10px;
                margin: auto;
            }
        }
    }
}

@media only screen and (max-width: 850px) {
    mat-drawer-container {
        mat-drawer {
            width: 100%;
        }
    }
}