<div *ngIf="!registered" class="form-user">
  <h3>Registrarse</h3>
  <form [formGroup]="registerForm" (submit)="submitForm()">
    <mat-form-field>
      <input matInput type="text" formControlName="nombre" placeholder="Nombre" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="user" placeholder="Nombre de usuario" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="email" formControlName="correo" placeholder="Email" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="telefono" placeholder="Telefono" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" formControlName="password" placeholder="Contraseña" required>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="sendingForm">REGISTRARSE</button>
  </form>
  <span class="footer">¿Ya tenes una cuenta? <a (click)="changeModal()"> Ingresa</a></span>
</div>

<div *ngIf="registered" class="success">
  <h4>¡Usuario creado!</h4>
  <span>Enviamos un email a su casilla para validar la cuenta.</span>
</div>