@import '../../../../vars.scss';

mat-card {
    width: calc(100% - 24px);
    padding: 8px 12px;
    margin-bottom: 6px;
    display: flex;
    color: $font-black;
    position: relative;
    .img-container {
        width: 100px;
        height: 80px;
        margin-right: 8px;
        img {
            max-width: 100%;
            width: auto;
            height: 100%;
            margin: auto;
            display: block;
        }
    }
    .details {
        width: calc(100% - 138px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        button {
            position: absolute;
            right: 0;
            top: 0;
        }
        .form-field {
            label, span {
                font-size: 13px;
            }
            input {
                width: 80px;
                margin: 0 5px;
                font-size: 15px;
                text-align: center;
                &:focus {
                    outline: none;
                }
            }
            input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
                -webkit-appearance: none; 
                margin: 0; 
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    mat-card {
        .details {
            .form-field {
                display: flex;
                flex-direction: column;
                input {
                    margin: 0;
                }
            }
        }
    }
}