<mat-card>
  <div class="img-container">
    <img [src]="product.imagen">
  </div>
  <div class="details">
    <h4>{{ product.nombre }}</h4>
    <span>${{ product.costo }}/{{ product.unidad }}</span>
    <div class="form-field">
      <label>Cantidad</label>
      <input type="number" min="1" [formControl]="quantityControl">
      <span>{{ product.unidad }}</span>
    </div>
    <button mat-icon-button color="primary" (click)="removeProduct(product)">
      <i class="fas fa-times"></i>
    </button>
  </div>
</mat-card>