@import './vars.scss';
@import '~@angular/material/theming';
$custom-typography: mat-typography-config($font-family: '"Titillium Web", sans-serif;');
@include mat-core($custom-typography);
$raddios-primary: mat-palette($primary-palette);
$raddios-accent: mat-palette($secondary-palette);
$raddios-warn: mat-palette($mat-red);
$raddios-theme: mat-light-theme($raddios-primary, $raddios-accent, $raddios-warn);
@include angular-material-theme($raddios-theme);

* {
    margin: 0;
    padding: 0;
}

html, body { 
    height: 100%;
}

body { 
    margin: 0; 
    font-family: 'Titillium Web', sans-serif;
    background-color: #e5e5e5;
    position: relative;
}

a {
    color: initial;
    &:link {
        text-decoration: none;
    }
    &:hover {
        color: initial;
    }
}

ul {
    list-style: none;
}

mat-card {
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}