$main-color: #C71717;
$accent-color: #868686;
$font-white: #EFEFEF;
$font-black: #686868;

$h-header: 57px;

// MATERIAL PALETTES
$primary-palette: ( 
    50: #F8E3E3,
    100: #EEB9B9,
    200: #E38B8B,
    300: #D85D5D,
    400: #CF3A3A,
    500: #C71717,
    600: #C11414,
    700: #BA1111,
    800: #B30D0D,
    900: #A60707,
    A100: #FFD2D2,
    A200: #FF9F9F,
    A400: #FF6C6C,
    A700: #FF5252,
    contrast: ( 500: white, 600: white, 700: white, A200: white, A400: white, A700: white )
);
$secondary-palette: ( 
    50: #F0F0F0,
    100: #DBDBDB,
    200: #C3C3C3,
    300: #AAAAAA,
    400: #989898,
    500: #868686,
    600: #7E7E7E,
    700: #737373,
    800: #696969,
    900: #565656,
    A100: #F9C9C9,
    A200: #F49C9C,
    A400: #FF5D5D,
    A700: #FF4444,
    contrast: ( 500: white, 600: white, 700: white, A200: white, A400: white, A700: white )
);